body {
    background-image: url(./img/SavedImage.jpg); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-color: #c7b39b; /* Цвет фона */
    background-size: cover;
   }

.container {
	color: yellow;
	text-align: center;
}

header {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	color: aqua;
}

.content p {
	color: red;
	font-size: 40px;
	text-align: center;
}

.content {
	margin: 40px;
}

footer {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	color: green;
	margin-top: 20px;
}

