block variables

doctype html
html(lang = "en")
  head
    title= title
    meta(charset = "utf-8")
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    meta(http-equiv = "Content-Type", content = "text/html")
    meta(name = "author", content = "")
    meta(name = "keywords", content = "")
    meta(name = "description", content = "")
    
  body
    block content